# DATA VALIDATION REPORT

## Restaurant Dataset
- Valid: True
- Rows:  900
- Range: 2025-06-01 to 2025-11-27

## Cafe & Bakery Dataset
- Valid: True
- Rows:  1800
- Range: 2025-06-01 to 2025-11-27

